<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workspace.mapper.UserMapper">

    <resultMap id="UserResultMap"
               type="com.workspace.dto.UserDTO">

        <id property="id"
            column="id"/>

        <result property="username"
                column="username"/>

        <result property="password"
                column="password"/>

        <result property="role"
                column="role"/>

    </resultMap>

    <select id="getUserByUsername"
            resultMap="UserResultMap">

        SELECT
            id,
            username,
            password,
            role
        FROM user
        WHERE username = #{username}

    </select>

</mapper>